<h3>Create new vacation recommendation:</h3>
<form action="/vacations" method="post">
    <label>Location Name:</label>
    <input type="text" name="location" id="location">
    <label>Description:</label>
    <input type="text" name="description" id="description" size="80">
    <label>Best Time to Visit:</label>
    <input type="text" name="best_time" id="best_time">
    <label>Reason to Visit:</label>
    <input type="text" name="reason" id="reason" size="80">
    <label>Link to Photo:</label>
    <input type="text" name="photo_link" id="photo_link">
    <input type="submit" value="submit">
</form>